.booking-card {
  border: none;
}
.booking-card .card-block {
  padding-top: 8px;
}
.booking-card .card-block .card-subtitle {
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  color: #16861a;
}
.booking-card .card-block .card-title {
  font-size: 19px;
  margin: 3px 0px;
  font-weight: 600;
}
.booking-card .card-block .card-text {
  font-size: 14px;
  font-weight: 300;
  color: #7e7e7e;
  margin-bottom: 0;
}
