
<a routerLink="/rentals/{{rental.id}}">
    <div class="card booking-card">
        <img class="card-img-top" src="https://images1.apartments.com/i2/P0s3lHrhIIPXfyhkVz0wMZXOqFj2m3Rg_Pa-OdKQIQk/111/the-500-atlanta-ga-refined-apartment-living---elite-upgrade.jpg" alt="">
        <div class="card-block">
        <div class="card-subtitle {{rental.category}}">{{rental.shared ? "shared" : "whole"}} {{rental.category}} &#183; {{rental.city}}</div>
        <a class="card-title">{{rental.title}}</a>
        <p class="card-text"><span class="price">${{rental.dailyRate}}</span> per Night &#183; Free Cancelation</p>
        <!-- <a href="#" class="card-link">More Info</a> -->
        </div>
    </div>
</a>
