@import "variables";
.navbar {
    padding: 20px;
    margin-bottom: 20px;

    .navbar-brand {
        margin-right: 30px;
        font-size: 30px;
        letter-spacing: 1px;
        color: $main-color;
        font-weight: 500;
    }

    .nav-item {
        font-size: 14px;
    }

    .input-search {
        // height: 50px;
        width: 300px;
    }

    .btn-search {
        border-color: $main-color;
        color: $main-color;
        
        &:hover, &:focus, &:active {
            color: #fff;            
            background-color: $main-color;
            box-shadow: none;
        }
    }

}