.navbar {
  padding: 20px;
  margin-bottom: 40px;
}
.navbar .navbar-brand {
  margin-right: 30px;
  font-size: 30px;
  letter-spacing: 1px;
  color: #f44336;
  font-weight: 500;
}
.navbar .nav-item {
  font-size: 14px;
}
.navbar .input-search {
  width: 300px;
}
.navbar .btn-search {
  border-color: #f44336;
  color: #f44336;
}
.navbar .btn-search:hover,
.navbar .btn-search:focus,
.navbar .btn-search:active {
  color: #fff;
  background-color: #f44336;
  box-shadow: none;
}
